thead {
    background-color: rgba(8, 113, 250, 0.7);
    th {
        color: aliceblue
    }
}

.uk-breadcrumb {
    background-color: aliceblue;
    padding: .5em
}

.uk-table-hover tbody tr:hover {
    background-color: rgba(190, 190, 190, 0.4);
}