<nav class="uk-navbar-container uk-background-primary uk-navbar-transparent uk-margin-medium-bottom" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><a id="logo" routerLink="/">FINAN$YS</a></li>
      <li><a routerLink="/reports">Relatórios</a></li>
      <li routerLinkActive="uk-active"><a routerLink="/entries">Lançamentos</a></li>
      <li routerLinkActive="uk-active"><a routerLink="/categories">Categorias</a></li>
    </ul>

  </div>
</nav>

<div class="uk-container">
  <router-outlet></router-outlet>
</div>
